.container{
    text-align: center;
}

.table-container{
    margin-top: 15px;
    text-align: center;
}

.table-container table{
    margin: 0 auto;
    text-align: left;
    border-collapse: separate;
    border-spacing: 10px 5px;    
    width: 25%;
    
}

#input{
    width: 21%;
}

i{
    color: black;
}

.center-text{
    text-align: center;    
}

